.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    overflow: hidden;
    background-color: rgb(78, 129, 233);
    color: #1122cc;
    padding: 1em;
  /* background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%; */
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    float: left;
  /* display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; */
}

.navbar__link{
  color: black;
  text-shadow: #1122cc;
}