body {
    /* background-image: url(logo.png); */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 1750px 1000px;
    background-attachment: fixed;
    background-position: center;
}

/* .text {
   background: rgba(0, 0, 0, 0);  
} */

.h1, h1, h2 {
    font-size: 2.5rem;
    color: #1120f5;
    font-family: "Comfortaa", Arial, sans-serif; 
    background-position: center;
    /* width: 950px;
    text-align: center; */
}

/* label, a{
    color: #1120f5;
} */

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25rem;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #146ec9;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;    
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}


.inputEmail {
    color: white;
    border-radius: 35px;
    background-color: black;
    opacity: .8;
}

.form--title {
    border-radius: 35px;
    background-color: black;
    opacity: .8;
}


